<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579126950365-fvmilk3nvu1qcun48vam9gj80ipo32fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579126950365-fvmilk3nvu1qcun48vam9gj80ipo32fr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>579126950365-a3q7as6vdcgg3qvgro2rga3kn3b67hrr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk6jAxTI4ostU7IxHVtd-5nEAMqqO4kmw</string>
	<key>GCM_SENDER_ID</key>
	<string>579126950365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waobab.univSchedule</string>
	<key>PROJECT_ID</key>
	<string>univschedule</string>
	<key>STORAGE_BUCKET</key>
	<string>univschedule.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579126950365:ios:fc323a220ffdd04645de34</string>
</dict>
</plist>